<h1> My name is Spencer </h1>
<img src="stewie" />
<p> Yeah, I'm pretty awesome. </p>
<h2> I also do accounting and go to school and stuff </h2>
<p> Yeah, this probably my first time actually coding an html website from pure scratch. I've used SaaS website builders like Weebly before, and I've edited wiki pages, but this is the first time that I've gone this hardcore coder before. It's pretty rad, I must say. </p>
<a href="https://www.linkedin.com/in/spencer-lay-0774a532"> My LinkedIn! </a>
